<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305458763071-3h8b1s93phnsiqcbieh90rr5kucvdcf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305458763071-3h8b1s93phnsiqcbieh90rr5kucvdcf9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>305458763071-e209bieub4vhamcikc8ba0keb6qm4m37.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDM0gwjVdf0QS3pX1VPYphD76oss6h40Qc</string>
	<key>GCM_SENDER_ID</key>
	<string>305458763071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>fkngflks</string>
	<key>STORAGE_BUCKET</key>
	<string>fkngflks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305458763071:ios:377e0837e9dfcd696fef8a</string>
</dict>
</plist>